@using Tax.Data.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Change Password";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-sm-12 col-xs-12">
        @Html.Partial("_ChangePasswordPartial")
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/Scripts/jqueryval")
}
