<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <clear/>
    <add name="DefaultConnection"
      connectionString="Data Source=.\sqlexpress;Initial Catalog=taxdb;Integrated Security=True" providerName="System.Data.SqlClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <log4net xdt:Transform="Replace">
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1"/>
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data,  Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <connectionStringName value="DefaultConnection"/>
      <commandText value="INSERT INTO [Log4Net].[Logs] ([Id],[Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (NEWID(),@date, @thread, @level, @logger, @message, @exception)"/>
      <parameter>
        <parameterName value="@date"/>
        <dbType value="DateTime"/>
        <layout type="log4net.Layout.RawTimeStampLayout"/>
      </parameter>
      <parameter>
        <parameterName value="@thread"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@level"/>
        <dbType value="String"/>
        <size value="50"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger [%property{NDC}]"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message"/>
        <dbType value="String"/>
        <size value="4000"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception"/>
        <dbType value="String"/>
        <size value="4000"/>
        <layout type="log4net.Layout.ExceptionLayout"/>
      </parameter>
    </appender>
    <!--<appender name="FunkyAppender" type="Kontakt.Log4Net.Appender, Kontakt.Log4Net">
      --><!--<HostBaseUrl value="http://egroup.azurewebsites.net/"/>
      <Action value="/WebHook/QueueBugPost" />--><!--
      <HostBaseUrl value="https://www.skontakt.hu/webapi/"/>
      <Action value="/api/bugpost" />
      <ProjectName value="Kontakt" />
      <AreaName value="Portal" />
      <threshold value="ERROR" />
    </appender>-->
    <root>
      <!--<level value="DEBUG"/>-->
      <level value="ERROR"/>
      <appender-ref ref="AdoNetAppender" />
      <!--<appender-ref ref="FunkyAppender" />-->
    </root>
  </log4net>
  <system.net  xdt:Transform="Replace" >
    <mailSettings>
      <smtp>
        <network host="10.11.12.254" enableSsl="false" />
      </smtp>
    </mailSettings>
    <defaultProxy>
      <proxy proxyaddress="http://10.11.12.254:8080" bypassonlocal="true" />
    </defaultProxy>
  </system.net>
  <appSettings>
    <add key="Environment" value="Web.TDeployDebug.config" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="log4net.Internal.Debug" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>