<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <clear/>
    <add name="DefaultConnection"
      connectionString="Data Source=.\sqlexpress;Initial Catalog=taxdb;Integrated Security=True" providerName="System.Data.SqlClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <log4net xdt:Transform="Replace">
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value=".\\App_Data\\Tax.Portal.Log" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
  <appSettings>
    <add key="Environment" value="Web.Debug.config" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="log4net.Internal.Debug" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.net xdt:Transform="Replace" >
  </system.net>
  <system.web>
  </system.web>
</configuration>
