@using Tax.MvcGlobalisationSupport;

<div><a href="/hu"><br />@CultureManager.CultureName(CultureManager.CultureNameHungarian)</a></div>
<div><a href="/en"><br />@CultureManager.CultureName(CultureManager.CultureNameEnglish)</a></div>



