@using Microsoft.AspNet.Identity
@using Tax.Data.Models

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
    <ul class="nav navbar-nav navbar-right">       
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <span><i class="fa fa-info fw"></i><strong>  @User.Identity.GetUserName() </strong></span>
            </a>
            <ul class="dropdown-menu">               
                <li><a title="Jelszómódosítás" href="@Url.Action(MVC.Account.Manage())"><i class="fa fa-ambulance fw"></i> Change Password </a></li>               
            </ul>
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out fa-fw" ></i> Logout </a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a id="loginLink" href="@Url.Action(MVC.Account.Login())"><i class="fa fa-sign-in fa-fw"></i> Login </a></li>        
    </ul>
}
