@{
    ViewBag.Title = "Beosztás szerkesztés";
}

<link href="~/Content/calendar/fullcalendar.css" rel="stylesheet" />
<link href="~/Content/calendar/kontaktschedule.css" rel="stylesheet" />

<div ng-app="kontaktScheduleApp" ng-controller="DispatcherCalendarController">

    <div class="row" ng-cloak>
        <div class="col-md-5">
            <h2 ng-show=" week.editable">Szerkeszthető időszak</h2>
            <h2 ng-show="!week.editable && !week.past">Lezárt időszak</h2>
            <h2 ng-show="!week.editable && week.past">Múltbeli időszak</h2>
        </div>
        <div class="col-md-7" style="margin-top:30px;margin-bottom:10px;">
            <button class="btn btn-primary pull-right" ng-click="closeWeek()" ng-show=" week.editable && view.name == 'agendaWeek' && !week.past">Hét lezárása</button>
            <button class="btn pull-right btn-sched-gen" ng-click="generateSchedule()" ng-show=" week.editable && view.name == 'agendaWeek' && !week.past">Beosztás generálása</button>
            @*<button class="btn btn-warning pull-right" ng-click="openWeek()"  ng-show="!week.editable && view.name == 'agendaWeek' && !week.past">Megnyitás újra</button>*@
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources" calendar="rawCalendar"></div>
        </div>
    </div>

    <script type="text/ng-template" id="addEventModal.html">
        <div class="modal-header">
            <h3>Tolmács kiválasztása</h3>
        </div>
        <div class="modal-body" ng-cloak>
            <div ng-show="$parent.period.allDay">
                <h4>Ügyeleti nap: {{$parent.period.dayName}}</h4>
            </div>
            <div ng-hide="$parent.period.allDay">
                <h4>Időszak: {{$parent.period.start | date:'M.dd. HH:mm'}} - {{$parent.period.end | date:'HH:mm'}}</h4>
                <div class="panel panel-default" ng-show="$parent.intersectingEvents.length > 0">
                    <div class="panel-heading">Ebben az időszakban már lekötve:</div>
                    <div class="panel-body">
                        <div ng-repeat="ev in $parent.intersectingEvents">
                            <h6 ng-hide="ev.activity > 1">Tolmács: <b>{{ ev.title }}</b> Időszak: <b>{{ev.start | date:'M.dd. HH:mm'}} - {{ev.end | date:'HH:mm'}}</b> Tolmácsközpont: <b>{{ ev.areaName }}</b></h6>
                            <h6 ng-show="ev.activity > 1">Tolmács: <b>{{ ev.title }}</b> Időszak: <b>{{ev.start | date:'M.dd. HH:mm'}} - {{ev.end | date:'HH:mm'}}</b> Elfoglaltság: <b>{{ ev.description }}</b></h6>
                        </div>
                    </div>
                </div>
            </div>
            <select ng-model="$parent.interpreter"
                    ng-init="$parent.interpreter=interpreters[0]"
                    ng-options="i.DisplayName for i in interpreters | orderBy:'count'"
                    class="form-control"></select>
            <br />
            <p ng-hide="$parent.period.allDay">
                Tolmácsközpont: <b>{{ $parent.interpreter.AreaName}}</b><br />
                <b>{{ $parent.interpreter.DisplayName }}</b> ezen a héten: <b>{{ $parent.interpreter.count}}</b> alkalommal van már beosztva.
            </p>

        </div>
        <div class="modal-footer">
            <button class="btn" ng-click="cancel()">Mégsem</button>
            <button class="btn btn-primary" ng-click="ok()">OK</button>
        </div>
    </script>

    <script type="text/ng-template" id="editEventModal.html">
        <div class="modal-header">
            <h3>Beosztás módosítása</h3>
        </div>
        <div class="modal-body">
            <div ng-show="$parent.period.allDay">
                <h4>Ügyeleti nap: {{$parent.period.dayName}}</h4>
            </div>
            <div ng-hide="$parent.period.allDay">
                <h4>Időszak: {{$parent.period.start | date:'M.dd. HH:mm'}} - {{$parent.period.end | date:'HH:mm'}}</h4>
                <div class="panel panel-default" ng-show="$parent.intersectingEvents.length > 0">
                    <div class="panel-heading">Ebben az időszakban már lekötve:</div>
                    <div class="panel-body">
                        <div ng-repeat="ev in $parent.intersectingEvents">
                            <h6 ng-hide="ev.activity > 1">Tolmács: <b>{{ ev.title }}</b> Időszak: <b>{{ev.start | date:'M.dd. HH:mm'}} - {{ev.end | date:'HH:mm'}}</b> Tolmácsközpont: <b>{{ ev.areaName }}</b></h6>
                            <h6 ng-show="ev.activity > 1">Tolmács: <b>{{ ev.title }}</b> Időszak: <b>{{ev.start | date:'M.dd. HH:mm'}} - {{ev.end | date:'HH:mm'}}</b> Elfoglaltság: <b>{{ ev.description }}</b></h6>
                        </div>
                    </div>
                </div>
            </div>
            <select ng-model="$parent.interpreter"
                    ng-init="$parent.interpreter=interpreters[$parent.selectedIndex]"
                    ng-options="i.DisplayName for i in interpreters | orderBy:'count'"
                    class="form-control"></select>
            <br />
            <p ng-hide="$parent.period.allDay">
                Tolmácsközpont: <b>{{ $parent.interpreter.AreaName}}</b><br />
                <b>{{ $parent.interpreter.DisplayName }}</b> ezen a héten: <b>{{ $parent.interpreter.count}}</b> alkalommal van már beosztva.
            </p>

        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="delete()">Törlés</button>
            <button class="btn" ng-click="cancel()">Mégsem</button>
            <button class="btn btn-primary" ng-click="ok()">OK</button>
        </div>
    </script>

    <script type="text/ng-template" id="generateSchedule.html">
        <div class="modal-header">
            <h3>Beosztás gerálása: {{period.weekName}}</h3>
        </div>
        <div class="modal-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-4">Tolmácsok egy időben:</label>
                    <div class="col-md-3">
                        <select ng-model="$parent.result.selectedNumber"
                                ng-options="i for i in interpreterNumbers"
                                class="form-control"></select>
                    </div>
                    <div class="col-md-5"></div>
                </div>

                <div class="form-group weekday-chooser">
                    <label class="control-label col-md-4">Munkanapok:</label>
                    <div class="col-md-8 weekday-chooser-days">
                        <label>Hétfő</label><input type="checkbox" ng-model="$parent.result.selectedDays[0]" />
                        <label>Kedd</label><input type="checkbox" ng-model="$parent.result.selectedDays[1]" />
                        <label>Szerda</label><input type="checkbox" ng-model="$parent.result.selectedDays[2]" />
                        <label>Csütörtök</label><input type="checkbox" ng-model="$parent.result.selectedDays[3]" />
                        <label>Péntek</label><input type="checkbox" ng-model="$parent.result.selectedDays[4]" /><br />
                        <label>Szomabat</label><input type="checkbox" ng-model="$parent.result.selectedDays[5]" />
                        <label>Vasárnap</label><input type="checkbox" ng-model="$parent.result.selectedDays[6]" />
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" ng-click="cancel()">Mégsem</button>
            <button class="btn btn-primary" ng-click="ok()">Generálás</button>
        </div>
    </script>

</div>

@section Scripts {
    @Scripts.Render(Links.bundles.scripts.jquery)

    <script src="~/Scripts/jquery-ui-1.10.3.js"></script>        
    <script src="~/Scripts/angular/angular.js"></script>
    <script src="~/Scripts/angular/angular-cookies.js"></script>
    <script src="~/Scripts/calendar/calendar.js"></script>
    <script src="~/Scripts/calendar/ui-bootstrap-tpls-0.10.0.js"></script>
    <script src="~/Scripts/calendar/fullcalendar.js"></script>

    <script src="~/Scripts/schedule/app.js"></script>
    <script src="~/Scripts/schedule/KontakScheduleService.js"></script>
    <script src="~/Scripts/schedule/CalendarConfigService.js"></script>
    <script src="~/Scripts/schedule/DispatcherCalendarController.js"></script>
    <script src="~/Scripts/schedule/EventModalController.js"></script>
    <script src="~/Scripts/schedule/GenerateModalController.js"></script>

}