@model Tax.Portal.Mailers.ScheduleClosedEmailData
@using Mvc.Mailer;
@using Tax.Portal.Helpers;
@{
    var absUrl = HtmlHelpers.AppBaseUrl(Url);
}
<h2>Kedves Kolléga!</h2>

<br />
<p>Értesítjük, hogy a Kontakt rendszerbeli munkabeosztása elkészült a <strong>@Model.WeekStart.ToString("MMMM dd.") - @Model.WeekEnd.ToString("MMMM dd.")</strong> hétre.</p>
<p>A következő linkre kattintva megtekintheti a beosztást: <a href="@string.Format("{0}{1}", absUrl, "Schedule/Display")">@string.Format("{0}{1}", absUrl, "Schedule/Display")</a></p>
<br />
<br />
<p>Üdvözlettel,</p>
<p>a KONTAKT Tolmácsszolgálat diszpécsere</p>
