@model Tax.Portal.Mailers.WithDeviceElectedEmailData
@using Mvc.Mailer;
@using Tax.Portal.Helpers;
@{
    var absUrl = HtmlHelpers.AppBaseUrl(Url);
}
<h2>Kedves @Model.fullname!</h2>

<br />
<p>Tesztelőnek jelentkeztél a SINOSZ KONTAKT Tolmácsszolgálathoz. Köszönjük, és reméljük, hogy élvezni fogod!</p>
<p>A készülékigénylésedet is elfogadtuk. Ahhoz, hogy a tablet készüléket átvehesd, időpontot kell foglalnod!</p>
<strong><p>Hogyan foglalhatsz időpontot?</p></strong>
<p style="color: orange">    1.   Kattints a linkre!</p>
<strong><p>         </p><p><a href="@string.Format("{0}{1}", absUrl, "Stock/Reservation")">@string.Format("{0}{1}", absUrl, "Stock/Reservation")</a></p></strong>
<p style="color: orange">    2.   Látsz egy táblázatot, melyben megjelöltük, mikor van még szabad hely.</p>
<p style="color: orange">    3.   Jelöld meg a szabad helyet, amit ki szeretnél választani, és mentsd el a választásod. A kiválasztott időpontban ügyintézőnk vár szeretettel a SINOSZ székházban (Budapest, 1068 Benczúr utca 21.)</p>
<p style="color: orange">    4.   Amennyiben az időpontfoglalás sikeresen megtörtént, láthatod a foglalásodat.</p>
<p style="color: orange">    5.   Ha meggondolod magad, a foglalásodat törölhetet, és újat rögzíthetsz.</p>
<br />
<strong><p>Mit kell hozni a készülék átvételéhez?</p></strong>
<p style="color: orange">         -  SINOSZ tagsági igazolvány</p>
<p style="color: orange">         -  Személyi igazolvány</p>
<p style="color: orange">         -  Lakcím kártya</p>
<br />
<p>Kérdéseiddel bizalommal fordulj hozzánk: <a href="mailto:info@skontakt.hu">info@skontakt.hu</a></p>
<br />
<br />
<p>Üdvözlettel,</p>
<p>a KONTAKT Tolmácsszolgálat munkatársai</p>