
.fc-agenda-slots td div {
     height: 40px !important;
}

.fc-event-time{
   display : none;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.btn-sched-gen {
    margin-right:10px;
}

.weekday-chooser input[type=checkbox] {
    margin-left:4px;
    margin-right:8px;
}

.weekday-chooser-days {
    padding-top:5px;
}

.weekday-chooser-days label {
    font-weight:normal;
}