<div class="row">
    <div class="col-md-12 text-center">
        <img src="@Url.Content("~/Content/images/bkg_mainpage.jpg")" class="img-responsive img-thumbnail" alt="" style="border: none; padding: 0px 0px 0px 0px;"/>
    </div>
</div>