<br />
<h2>Kedves Felhasználó!</h2>
<br/>
<p>Az eszközkölcsönzésre invitálás jelenleg nincs beállítva a számodra!</p>
<br />
<p>A félreértés tisztázása érdekében, fordulj felénk bizalommal!</p>
<br />
<p>Köszönjük türelmed!</p>
<br />
<p>Üdvözlettel: Kontakt</p>
