<br />
<h2>Kedves Felhasználó!</h2>
<br />
<p>Adataink szerint az eszközátvétel lezárult!</p>
<br />
<p>A félreértés tisztázása érdekében, fordulj felénk bizalommal!</p>
<br />
<p>Köszönjük türelmed!</p>
<br />
<p>Üdvözlettel: Kontakt</p>
