<br />
<h2>Kedves Felhasználó!</h2>
<br/>
<p>A regisztációt lezáró lépés nem került végrehajtásra rendszerünkben!</p>
<p>1. Esetleg téves email címet adott meg a regisztráció során.</p>
<p>2. Esetleg a megerősítő levelünkben közölt címet nem látogatta meg böngészőjével (nem kattintott a közölt URL-címre).</p>
<p>3. Egyéb technikai hiba lépett fel.</p>
<p>Amennyiben az 2. pont ismételt végrehajtásával sem hárul el az akadály, kérem vegye fel a kapcsolatot a rendszer támogatását végző szolgálatunkkal az alábbi címen.</p>
<p>Köszönjük türelmét!</p>
<br />
<p>Üdvözlettel: Kontakt</p>
