<br />
<h2>Kedves Felhasználó!</h2>
<br />
@*<p>Rendszerünk e-mailt küldött Neked az előregisztrációról.</p>*@
<p>Rendszerünk e-mailt küldött Neked a regisztrációról.</p>
<p>Kérünk, a levélben található linkre kattintva erősítsd meg e-mail címedet.</p>
<br />
<p>Köszönettel,</p>
<p>a KONTAKT Tolmácsszolgálat munkatársai</p>