
@{
    ViewBag.Title = "AddressBook";
}

<h2>@ViewBag.Title</h2>

<form action="/api/AddressBook" method="get">

    <input type="text" name="q" placeholder="Name (optional)">

    <input type="submit" />

</form>
