
@{
    ViewBag.Title = "Profile test";
}

<h2>Profile test</h2>

<form action="/api/GetNew" method="get">
    <input type="text" name="id" placeholder="Parameter id">
    <input type="text" name="lang" placeholder="Parameter lang">
    <input type="submit" value="Get news" />

</form>

